{% extends 'blog/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row formulario">
            {% if validlink %}
            <form method="POST" class="col-md-4 post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="btn-salvar">
                    <button type="submit" class="save btn btn-default">Mudar senha</button>
                </div>
            </form>
            {% else %}
                <p>Link para resetar a senha inválido, possivelmente já foi usado. Por favor tente novamente mais tarde.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}