<!DOCTYPE html> {% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>

    <link rel="icon" href="{% static 'image/favicon.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <script src="https://cdn.tiny.cloud/1/6lmj0ll1zjy2rnzoik4b55aor4utbfnchxlptf81bqkrhbhd/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#id_text',
            plugins: 'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
            imagetools_cors_hosts: ['picsum.photos'],
            menubar: 'file edit view insert format tools table help',
            toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
            toolbar_sticky: true,
            skin: 'oxide-dark',
            content_css: 'dark',
            autosave_ask_before_unload: true,
            autosave_interval: "30s",
            autosave_prefix: "{path}{query}-{id}-",
            autosave_restore_when_empty: false,
            autosave_retention: "2m",
            image_advtab: true,
            importcss_append: true,
            image_caption: true,
            quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
            noneditable_noneditable_class: "mceNonEditable",
            toolbar_drawer: 'sliding',
            contextmenu: "link image imagetools table",
        });
    </script>
</head>

<body>
    <header id="topo" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="logo">
                        <a href="{% url 'post_list' %}">
                            <span class="z">Z</span>
                            <span class="h">H</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-6 nav-links">
                    <nav class="navbar navbar-default main-nav" id="main-nav" role="navigation">
                        <div class="navbar-header">
                            <button aria-label="Responsive menu navbar-toggle" type="button" class="navbar-toggle"
                                data-toggle="collapse" data-target="#menu">
                                <span class="icon-bar" aria-hidden="true"></span>
                                <span class="icon-bar" aria-hidden="true"></span>
                                <span class="icon-bar" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="menu">
                            <ul class="nav navbar-nav">
                                {% if user.is_authenticated %}
                                <li><a id="plus" href="{% url 'post_new' %}" class="top-menu">
                                        New Post
                                    </a></li>
                                <li><a href="{% url 'post_draft_list' %}" class="top-menu">
                                        Draft List
                                    </a></li>
                                <li><a href="{% url 'logout' %}" class="top-menu">
                                        Logout
                                    </a></li>
                                {% else %}
                                <li><a href="{% url 'login' %}" class="top-menu">
                                        Login
                                    </a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid" id="posts">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-9">
                    {% block content %} {% endblock %}
                </div>
                <div class="col-md-2 col-sm-3 col-sidebar">
                    <div class="sidebar-nav">
                        <div class="navbar navbar-default" id="sidemenu-nav" role="navigation">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".sidebar-navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <span class="visible-xs navbar-brand">Sidebar menu</span>
                            </div>
                            <div class="navbar-collapse collapse sidebar-navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li class="sidebar-dropdown">
                                        <a href="#">
                                            <span>Categorias</span>
                                        </a>
                                        <div class="sidebar-submenu" style="display: none;">
                                            <ul class="">
                                                <li><a href="#">Posts</a></li>
                                                <li><a href="#">Enquetes</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="sidebar-dropdown">
                                        <a href="#">
                                            <span>Meses</span>
                                        </a>
                                        <div class="sidebar-submenu" style="display: none;">
                                            <ul>
                                                {% for post in posts_month %}
                                                <li><a href="{% url 'post_date' dt=post %}">{{ post|date:'F Y' }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>

                                    <li>
                                        <a>
                                            <form id="searchForm" action="{% url 'post_search' %}" method="GET">
                                                <input type="text" name="search" placeholder="Search">
                                                <button class="btn-search" type="submit">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                            </form>
                                        </a>
                                    </li>
                                    <div class="tags">
                                        {% for ct in common_tags %}
                                            <a href="{% url 'post_tags' ct.slug %}" class="mr-1 badge custom-badge">{{ct}}</a>
                                        {% endfor %}
                                    </div>
                                    <!-- <li><a><form action="{% url 'post_filter' %}" method="GET" class="form-menu">
                                    <select name="date_range" onchange="this.form.submit()" id="id_date_range">
                                        <option value="" selected="">---------</option>                      
                                        <option value="0">Hoje</option>                      
                                        <option value="1">Ontem</option>
                                        <option value="7">Últimos 7 dias</option>
                                        <option value="30">Este mês</option>
                                        <option value="365">Este ano</option>
                                    </select>
                                </form></a></li> -->
                                </ul>
                            </div>
                            <!--/.nav-collapse -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        var show = function (element) {
            element.style.display = 'block';
        };

        var hide = function (element) {
            element.style.display = 'none';
        };

        var toggle = function (element) {
            if (window.getComputedStyle(element).diplay === 'block') {
                hide(element);
            } else {
                show(element);
            }
        };
        document.addEventListener('click', function (event) {
            if (!event.target.classList.contains('toggle')) return;
            event.preventDefault();
            var content = document.querySelector(event.target.hash);
            if (!content) return;
            toggle(content);

        }, false);
    </script>
    <script>
        $(".sidebar-dropdown > a").click(function () {
            $(".sidebar-submenu").slideUp(200);
            if ($(this).parent().hasClass("active")) {
                $(".sidebar-dropdown").removeClass("active");
                $(this).parent().removeClass("active");
            } else {
                $(".sidebar-dropdown").removeClass("active");
                $(this).next(".sidebar-submenu").slideDown(200);
                $(this).parent().addClass("active");
            }
        });
    </script>
</body>


</html>