{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Testes</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>

<body>
    <header id="topo" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-3 hidden-sm hidden-xs">
                    <a href="{% url 'post_list' %}">
                        <h1>Django Posts</h1>
                    </a>
                </div>
                {% if user.is_authenticated %}
                <div class="col-md-9 col-sm-12 col-xs-12 nav-links">
                    <nav class="navbar navbar-default main-nav" id="main-nav" role="navigation">
                        <div class="navbar-header">
                            <button aria-label="Responsive menu navbar-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                                <span class="icon-bar" aria-hidden="true"></span>
                                <span class="icon-bar" aria-hidden="true"></span>
                                <span class="icon-bar" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="menu">
                            <ul class="nav navbar-nav">
                                <li><a id="plus" href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></li>
                                <li><a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                {% endif %}
            </div>
        </div>
    </header>
    <div class="container-fluid" id="posts">
        <div class="container">
            <div class="row posts">
                {% block content %} 
                {% endblock %}
            </div>
        </div>
    </div>

</body>

</html>