{% extends 'blog/base.html' %} 
{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="post-titulo">
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }} </a></h1>
            </div>
            <div class="imagem-principal">
                <img src="{{ post.post_image.url }}" class="img-responsive">
            </div>
            <p>{{ post.text|truncatechars:200 }}</p>
            <p>
                {% if post.published_date %} 
                <span class="blue">published:</span> {{ post.published_date }} 
                {% endif %}
                <span class="blue"> by:</span><small> {{ post.author }} </small>
            </p>
        </div>
    {% endfor %} 
{% endblock %}