{% extends 'blog/base.html' %} 
{% block content %}
    <div class="post">
        <div class="post-titulo">
            <h1>{{ post.title }}</h1>
        </div>
        <p>{{ post.text|linebreaksbr }}</p>
        <p>
            {% if post.published_date %} 
                <span class="blue">published:</span> {{ post.published_date }} 
            {% else %}
                <a class="btn btn-default custom-btn" href="{% url 'post_publish' pk=post.pk %}">Publish</a> 
            {% endif %} 
            <span class="blue"> by:</span><small> {{ post.author }} </small>
        </p>

        {% if user.is_authenticated %}
            <div class="botoes">
                <a class="btn btn-default custom-btn" href="{% url 'post_edit' pk=post.pk %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class="btn btn-default custom-btn" href="{% url 'post_remove' pk=post.pk %}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div> 
        {% endif %}
        <div class="row comments">
            {% for comment in post.comments.all %}
                {% if user.is_authenticated or comment.approved_comment %}
                    <div class="comment">
                        <p>{{ comment.text|linebreaksbr }}</p>
                        <div class="autor">
                            <p><span class="blue">{{ comment.author }}</span> - <small>{{ comment.created_date }}</small></p>
                        </div>
                        {% if not comment.approved_comment %}
                            <div class="botoes">
                                <a class="btn btn-default custom-btn" href="{% url 'comment_remove' pk=comment.pk %}">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                <a class="btn btn-default custom-btn" href="{% url 'comment_approve' pk=comment.pk %}">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% empty %}
                <div class="comment">
                    <p>Nenhum comentário ainda</p>
                </div>
            {% endfor %}
            <div class="btn-comment">
                <a href="{% url 'add_comment_to_post' pk=post.pk %}" class="btn btn-default custom-btn" >Novo Comentário</a>
            </div>
        </div>
    </div>
{% endblock %}