{% extends 'blog/base.html' %} 
{% block content %} 
    {% for post in posts%}
        <div class="post">
            <div class="post-titulo">
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }} </a></h1>
            </div>
            <div class="imagem-principal">
                <img src="{{ post.post_image.url }}" class="img-fluid">
            </div>
            <p>{{ post.headline|linebreaksbr }}</p>
            <p>
                <span class="blue">published:</span> {{ post.published_date|date:'d F Y' }}
                <span class="blue"> by:</span><small> {{ post.author }} </small>
            </p>
            <p><span class="blue">Comentários:</span> {{ post.approved_comments.count }}</p>
            <p>
                {% for tag in post.tags.all %}
                    <a href="{% url 'post_tags' tag.slug %}" class="mr-1 badge custom-badge">{{ tag }}</a>
                {% endfor %}
            </p>
        </div>
    {% endfor %} 
{% endblock %}