{% extends 'blog/base.html' %} 
{% block content %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <form method="POST" enctype="multipart/form-data" class="col-md-10 post-form">
                    <div class="post-titulo">
                        <h1>Post:</h1>
                    </div>
                    {% csrf_token %} {{ form.as_p }}
                    <div class="btn-salvar">
                        <button type="submit" class="save btn btn-default">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}