<header id="topo">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark primary-color">

        <!-- Navbar brand -->
        <div class="logo">
            <a class="navbar-brand" href="{% url 'post_list' %}">
                <span class="z">Z</span>
                <span class="h">H</span>
            </a>
        </div>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <!-- Links -->
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" id="plus" href="{% url 'post_new' %}" class="top-menu">
                        New Post
                    </a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'post_draft_list' %}" class="top-menu">
                        Draft List
                    </a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}" class="top-menu">
                        Logout
                    </a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}" class="top-menu">
                        Login
                    </a></li>
                {% endif %}
            </ul>
        </div>
        <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->
</header>
<div class="container-fluid" id="posts">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-9">
                {% block content %} {% endblock %}
            </div>

            <div class="col-md-2 col-sm-3 col-sidebar">
                <div class="sidebar-nav">
                    <div class="navbar navbar-default" id="sidemenu-nav" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".sidebar-navbar-collapse">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <span class="visible-xs navbar-brand">Navigation Menu</span>
                        </div>
                        <div class="navbar-collapse collapse sidebar-navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="sidebar-dropdown">
                                    <a href="#">
                                        <span>Categorias</span>
                                    </a>
                                    <div class="sidebar-submenu" style="display: none;">
                                        <ul class="">
                                            <li><a href="#">Posts</a></li>
                                            <li><a href="#">Enquetes</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="sidebar-dropdown">
                                    <a href="#">
                                        <span>Meses</span>
                                    </a>
                                    <div class="sidebar-submenu" style="display: none;">
                                        <ul>
                                            {% for post in posts_month %}
                                            <li><a href="{% url 'post_date' dt=post %}">{{ post|date:'F Y' }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>

                                <li>
                                    <a>
                                        <form id="searchForm" action="{% url 'post_search' %}" method="GET">
                                            <input type="text" name="search" placeholder="Search">
                                            <button class="btn-search" type="submit">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </form>
                                    </a>
                                </li>
                                <div class="tags">
                                    {% for ct in common_tags %}
                                    <a href="{% url 'post_tags' ct.slug %}" class="mr-1 badge custom-badge">{{ct}}</a>
                                    {% endfor %}
                                </div>
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>