body {
    background-color: #000000;
    color: rgb(185, 184, 184);
}

h1 {
    color: #fff;
}

h2 {
    font-size: 20px;
}

h2 a {
    color: #fff;
}

#main-nav {
    background: #000000;
    border: #000000;
    float: right;
}

#menu {
    background: #000000;
    border: none!important;
}

header {
    display: flex;
    justify-content: center;
}

header span {
    color: #fff;
    font-size: 32px;
}


/* #plus {
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    padding-left: 25px;
} */

.custom-btn {
    color: #fff;
    background: none;
}

.botoes{
    float: right;
    margin: 15px 0px;
}

.botoes a{
    margin: 0px 5px;
}

.formulario {
    display: flex;
    justify-content: center;
}

label {
    font-size: 16px;
}

input {
    width: 100%;
    background: none;
    border: 2px dotted #fff;
}

textarea {
    width: 100%;
    background: none;
    border: 2px dotted #fff;
}

.btn-salvar {
    text-align: center;
}

.btn-salvar button {
    background: none;
    border: 1px dotted #fff;
    color: #fff;
}
