body {
    background-color: #21262d;
    color: rgb(185, 184, 184);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 36px;
    margin: 0px 0px 30px 0px;
    color: #009dda;
}

h1 a {
    color: #009dda;
}

h1 a:hover {
    color: #009dda;
}

#main-nav {
    background: none;
    border: none;
    box-shadow: none;
    float: right;
}

#menu {
    background: none;
    border: none !important;
}

.top-menu {
    color: #b9b8b8 !important;
    margin-top: 10px;
}

header {
    /* display: flex;
    justify-content: center; */
    background: #1d2127;
    position: -webkit-sticky;
    position: sticky;
    z-index: 5;
    top: 0;
    width: 100%;
}

header span {
    color: #fff;
    font-size: 32px;
}

/* .navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background: none;
} */

.post {
    background-color: #24292d;
    padding: 40px;
    margin: 15px 0;
    outline: 1px solid #3f474e;
    outline-offset: -10px;
}

/* .post-form{
    z-index: -1;
} */

.botoes {
    display: flex;
    justify-content: flex-end;
}

.botoes a {
    margin: 0px 5px;
}

.custom-btn {
    color: #fff;
    background: none;
    border-color: #3f474e;
    padding: 10px 15px;
}

.btn-default:focus {
    color: #fff !important;
    background: none !important;
}

.btn-default:hover {
    color: #fff !important;
    background: none !important;
}

.btn-default:active {
    color: #fff !important;
    background: none !important;
}

.formulario {
    margin: 50px auto;
    width: 100%;
}

label {
    font-size: 16px;
}

input {
    width: 100%;
    background: none;
    border: 1px solid #3f474e;
    color: rgb(185, 184, 184);
    ;
}

textarea {
    width: 100%;
    background: none;
    border: 1px solid #3f474e;
    color: rgb(185, 184, 184);
}

.btn-salvar {
    text-align: center;
}

.btn-salvar button {
    background: none;
    border-color: #3f474e;
    color: #fff;
}

.blue {
    color: #006d98;
}

.logo a {
    text-decoration: none;
}

.logo span {
    font-size: 56px;
    font-weight: 900;
}

.z {
    color: #009dda;
}

.h {
    color: #fff;
}

.comments {
    border-top: 1px dashed #3f474e;
    margin-top: 30px;
}

.comment {
    padding: 40px;
    width: 100%;
}

.btn-comment {
    padding: 10px;
}

.comment .botoes .custom-btn {
    font-size: 8px;
    padding: 8px 6px;
}

#formcomment {
    display: none;
}

.imagem-principal {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

#searchForm {
    margin-top: 10px;
}

#searchForm input {
    border: #3f474e;
    background: none;
    color: #fff;
}

.form-menu select {
    border: #3f474e;
    background: none;
    color: #fff;
    width: 100%;
}

.form-menu select option {
    background: #1d2127;
    color: #fff;
    border: #3f474e;
}

.btn-search {
    position: absolute;
    height: 25px;
    margin-left: -25px;
    background: none;
    border: none;
    font-size: 15;
    color: #b9b8b8;
}

#comentario {
    display: none;
}

.col-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 11rem;
}

#sidemenu-nav {
    background: #1d2127;
    border: 1px solid #1d2127;
    outline: 1px solid #3f474e;
    outline-offset: -10px;
    padding: 15px;
    box-shadow: none;
    border-radius: 5px;
}

.tags {
    padding: 12px;
}

.custom-badge {
    background-color: #009dda !important;
    font-weight: 600;
    color: #fff !important;
    padding: 7px;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 3px;
}

.redes {
    padding: 20px;
    justify-content: center;
    margin-top: 1px;
    border-top: 1px solid #3f474e;
    border-bottom: 1px solid #3f474e;
    display: flex;
    justify-content: center;
}

.rede {
    padding: 0 10px;
}

#posts {
    padding: 40px;
}

.navbar.navbar-expand-lg.navbar-light {
    background: #1d2127;
    color: #b9b8b8 !important;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
}

.navbar.navbar-expand-lg.navbar-light a {
    color: #b9b8b8 !important;
}

#menu-toggle span {
    color: #b9b8b8 !important;
}


#sidebar-wrapper {
    background: #1d2127;
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper a {
    background: #1d2127;
    color: #b9b8b8;
}

#sidebar-wrapper a:hover {
    color: #009dda;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
    position: -webkit-sticky;
    position: sticky;
    top: 7rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.pagination{
    justify-content: center;
}

.pagination .content{
    background-color: #1d2127;
    padding: 15px 20px;
    outline: 1px solid #3f474e;
    outline-offset: -5px;
}

.pagination a {
    text-decoration: none;
    color: rgb(185, 184, 184);
    padding: 4px 5px;
}

.pagination a:hover, .pagination a:focus, .pagination a:active{
    color: #009dda;
}

.pagination-number {
    color: rgb(185, 184, 184);
    font-size: 16pt;
}

.pagination-number:hover,
.pagination-current {
    color: #009dda;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }

    #posts {
        padding: 0px 15px;
    }
}


@media only screen and (max-width: 767px) {
    .btn-comment {
        padding: 10px 40px 0 40px;
        position: inherit;
    }
}